<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>bulkeditor</name>
	<displayName><![CDATA[Bulk Editor]]></displayName>
	<version><![CDATA[1.4.2]]></version>
	<description><![CDATA[Edit your products in bulk]]></description>
	<author><![CDATA[Kelostrada]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
